<div class="centering">
  <mat-card class="log-card">
    <form [formGroup]="form">
      <h3>Bejelentkezés</h3>
      <mat-card id="alertCard" class="alert" *ngIf="alertMessage">
        {{alertMessage}}
      </mat-card>
      <mat-form-field class="max-width">
        <mat-label>Email</mat-label>
        <input type="email" name="email" matInput placeholder="email@email.com" formControlName="email">
      </mat-form-field>
      <mat-form-field class="max-width">
        <mat-label>Password</mat-label>
        <input type="password" name="password" matInput minlength="6" placeholder="password" formControlName="password">
      </mat-form-field>
      <br>
      <div><button mat-button color="accent" (click)="openDialog()">Registration</button></div>
      <br>
      <button (click)="login()" mat-raised-button color="primary" class="max-width" [disabled]="form.invalid">Login</button>
    </form>
  </mat-card>
</div>
